<div class="overlay">

    

    <div class="board">
        <img src="/assets/board.webp" alt="Mapa">
    </div>
    
    <div class="hub-players d-flex flex-wrap justify-content-center">
        @for(player of players; track player.id; let index = $index) {
          <div class="p-1 h-100" [style.width.%]="100 / players.length"  style="width: 12.5%;" [id]="'player-'+player.id">
                <div class="card w-100 h-100 p-1 d-flex flex-row" [style.background-color]="colors[player.id].color">
                    <div class="h-100">
                        <img [src]="colors[player.id].photo" class="h-100" alt="">
                    </div>
                    <div class="d-flex flex-column ps-3 flex-wrap justify-content-around w-75">
                        <div>Pedro Sanchez</div>
                        <div>■ 3   ■ 25</div>
                    </div>
                </div>
          </div>
        }
    </div>

    <div class="chat">
        <!-- @for (item of items; track $index) {} -->
        <div class="historic-message">
            <p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p><p>asdasdas</p>
        </div>
        <div class="chat-input">
            <input type="text">
            <button>Send</button>
        </div>
    </div>

    <!-- TODO: Si popupEvent es un objeto, llamar al meotodo que controla los estados para permitir, ahora es solo un true/false -->
    <!-- posible switch con "cosas locas"-->
    @if (popupEvent.fight) {
        <!-- Aparece encimado -->
        <div class="popup-fight">
            
        </div>
    }
    @if (popupEvent.card) { 
        <!-- Aparece encimado -->
        <div class="popup-fight">
            
        </div>
    }

</div>